:root {
    --font-family-primary: "Oswald", serif;
    --font-family-secondary: "Open Sans", serif;
    --text-sm: ;
    --text-base: ;
    --text-md: ;
    --text-lg: 80px;
    --text-xl: ;
    --text-2xl: ;
    --bg-primary: ;
    --bg-secondary: ;
    --color-blue: #070D37;
    --color-white: white;
    --color-sky: #39C6FD;
    --bg-black: #01000B;
}

.font-family-primary {
    font-family: var(--font-family-primary);
}

.font-family-secondary {
    font-family: var(--font-family-secondary);
}

.text-sm {
    font-size: var(--text-sm);
}

.text-base {
    font-size: var(--text-base);
}

.text-md {
    font-size: var(--text-md);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-xl {
    font-size: var(--text-xl);
}

.text-2xl {
    font-size: var(--text-2xl);
}

.fw-normal {
    font-weight: var(--fw-normal);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

.fw-semibold {
    font-weight: var(--fw-semibold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.bg-primary {
    background-color: var(--bg-primary);
}

.bg-secondary {
    background-color: var(--bg-secondary);
}

.color-white {
    color: var(--color-white);
}

.color-sky {
    color: var(--color-sky);
}

.color-blue {
    color: var(--color-blue);
}

.color-white {
    background-color: var(--color-white);
}

.color-black {
    color: var(--color-black);
}

.bg-black {
    background-color: var(--color-black);
}