/* Importing fonts and root CSS */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(../css/root.css);

.container {
    max-width: 1140px;
}

.bg-img {
    background-image: url(../img/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bg-navy-blue);
}

/* Header layer positions */
.rectangle {
    bottom: -1px;
}

.layer {
    top: 0;
    right: 0;
}

.layer-2 {
    top: 0;
    left: 0;
}

.max-w-607 {
    max-width: 607.82px;
}

.pb-68 {
    padding-bottom: 68px;
}

/* Utility gap sizes */
.gap20 {
    gap: 20px;
}

.gap-23 {
    gap: 23.46px;
}

.gap-53 {
    gap: 53.16px;
}

/* Line-height utilities for consistent text spacing */
.lh-20 {
    line-height: 20px;
}

.lh-21 {
    line-height: 21px;
}

.lh-23 {
    line-height: 23.71px;
}

.lh-24 {
    line-height: 24px;
}

.lh-29 {
    line-height: 29.64px;
}

.lh-118 {
    line-height: 118.56px;
}

.rotate-40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-43deg);
}

.bg-transparent {
    opacity: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.pt-150 {
    padding-top: 150px;
}

.p-btn {
    padding: 8px 20px;
}

.border-btn-1 {
    border-radius: 3.48px;
}

/* Button background and hover effects */
.button-1 {
    background: var(--color-sky);
    transition: 400ms all linear
}

.button-3 {
    padding: 13px 27px;
    border-radius: 5.04px;
}

.button-1:hover {
    background: transparent;
    color: var(--color-sky);
    transform: scale(1.05);
    transition: all 0.5 200ms ease;
    box-shadow: 0px 0px 20px 0px var(--color-sky);
}

.button-2 {
    border-radius: 4px;
    border: 1px solid var(--color-sky);
    transition: 400ms all linear;
    background-color: var(--bg-navy-blue);
}

.button-2:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
    transform: scale(1.05);
    transition: all 0.5 200ms ease;
    box-shadow: 0px 0px 20px 0px var(--color-sky);
}

.navbar-link:hover {
    transform: scale(1.1);
    transition: all 300ms linear;
    text-decoration: underline;
    -webkit-text-stroke: 0.5px;
}

.gap-32 {
    gap: 32px;
}

.navbar-link {
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out;
}

/* Navbar link underline effect */
.navbar-link:before {
    content: '';
    background: var(--color-sky);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background: var(--color-sky);
    position: relative;
}

.navbar-link:hover::before {
    width: 100%;
}

/* Section-1-line-heights */
.lh-71 {
    line-height: 71.14px;
}

.lh-25 {
    line-height: 25.15px;
}

.gap-30 {
    gap: 30.78px;
}

.max-w-627 {
    max-width: 627.81px;
}

.ellips {
    left: 0px;
}

.cristle {
    right: 0%;
    bottom: 41%;
    max-width: 376.19px;
}

.store:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

/* slider */
.max-w-632 {
    max-width: 632px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.mt-51 {
    margin-top: 51px;
}

.max-w-516 {
    max-width: 516px;
}

.slider-card {
    max-width: 494px;
}

.slick-slide {
    height: 461px !important;
    display: flex !important;
}

.slick-track {
    display: flex !important;
    gap: 30px !important;
}

.mt-17 {
    margin-top: 17px;
}

/* FAQ */
.cristal-left {
    bottom: 12%;
    left: 0%;
}

.max-w-680 {
    max-width: 680.85px;
}

.accordion {
    max-width: 946.31px;
}

.accordion-button {
    box-shadow: none !important;
    background-color: transparent !important;
    padding-left: 0 !important;
}

.accordion-body {
    max-width: 830.34px;
    padding-left: 40px !important;
    padding-top: 0 !important;
}

.accordion-item * {
    position: relative;
    z-index: 1;
}

.accordion-item {
    position: relative;
    overflow: hidden;
    background-color: transparent !important;
    border: none !important;
}

.faq-line {
    border: 2px solid var(--color-sky);
    max-width: 946px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/svg/line-img.svg) !important;
    background-position: center;
    background-size: contain;
    transform: rotate(0) !important;
}

.accordion-button::after {
    background-image: url(../img/svg/arrow-img.svg) !important;
    background-position: center;
    background-size: contain;
}

.pr-13 {
    padding-right: 13px;
}

/*join */
.bg-layer {
    background-image: url(../img/wave-layer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.max-117 {
    max-width: 117px;
}

.cristal-3 {
    top: 20%;
    right: 0%;
}

.max-w-582 {
    max-width: 582px;
}

.box {
    padding: 50px;
    border: 3px solid var(--color-sky);
    border-radius: 10px;
    background-color: var(--bg-navy-blue);
}

/* footer */
.footer-layer {
    background-image: url(../img/footer-layer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.opacity-70 {
    opacity: 70%;
}

.footer-line {
    border: 0.5px solid var(--color-sky);
    /* width: 1439.61px; */
    height: 0px;
}

#myBtn {
    /* display: none; */
    bottom: 10px;
    right: 10px;
    outline: none;
    background-color: var(--bg-black);
    border: 1.6px solid var(--color-sky);
    color: var(--color-white);
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 10;
    border-radius: 50%;
}

/* Responsive Media Queries */
@media (min-width:991.98px) {
    .phone-2 {
        position: absolute;
    }
}

@media (max-width:1299.98px) {
    .cristal-3 {
        display: none;
    }
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(40px);
        width: 100%;
        min-height: 100vh;
        position: fixed;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        gap: 20px;
        transition: all 400ms linear !important;
        z-index: 10;
    }

    .join {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    .cristle {
        display: none;
    }

    .cristal-left {
        display: none;
    }

    .box {
        padding: 40px;
    }

    .show-navbar {
        right: 0 !important;
    }

    :root {
        --text-lg: 70px;
        --text-md: 45px;
    }

    .lh-71 {
        line-height: 65px;
    }

    .lh-118 {
        line-height: 80px;
    }

    .pt-150 {
        padding-top: 100px;
    }

    .pb-68 {
        padding-bottom: 58px;
    }
}

@media (max-width:767.98px) {
    :root {
        --text-lg: 60px;
        --text-md: 40px;
    }

    .box {
        padding: 30px;
    }

    .phone {
        width: 50%;
    }

    .phone-2 {
        width: 50%;
    }

    .lh-71 {
        line-height: 50px;
    }

    .lh-118 {
        line-height: 60px;
    }

    .pt-150 {
        padding-top: 50px;
    }

    .pb-68 {
        padding-bottom: 48px;
    }
}

@media (max-width:576px) {
    :root {
        --text-lg: 40px;
        --text-md: 27px;
    }

    .box {
        padding: 10px;
    }

    .store {
        width: 100%;
    }

    .lh-25 {
        line-height: 20px;
    }

    .lh-71 {
        line-height: 40px;
    }

    .lh-118 {
        line-height: 50px;
    }

    .pt-150 {
        padding-top: 50px;
    }

    .pb-68 {
        padding-bottom: 20px;
    }
}